# En Desarrollo, la URL de la API local de Django:
VITE_API_URL=http://localhost:8000/api

# En Producción (Render o servidor externo), cambiar a la URL real de la API:
# VITE_API_URL=https://mi-backend-django.onrender.com/api
